{% extends "layout.twig" %}

{% block head %}<script type="text/javascript" src="/js/Chart.min.js"></script>{% endblock %}

{% block title %}Plant summary{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="/images/cactus.jpg" />
			<div class="caption">
				<h4>{{ plant.name }}</h4>
				Specie : {{ plant.specie }}
			</div>
		</div>
  	</div>  
	<div class="col-md-8">
		<div class="row">
	    	<div class="panel panel-default">
	    		<div class="panel-heading">Luminosity</div>
	    		<div class="panel-body">
	    			<div>
	    				<canvas id="lumChart"></canvas>
	    			</div>
	    			<script type="text/javascript">
    					var lumCtx = $('#lumChart').get(0).getContext('2d');
    					var lumData = {

							labels: [{% for lum in lums %}'{{ lum.timestamp }}',{% endfor %}],
							datasets: [
								{
									label: 'Luminosity',      
						            fillColor: "rgba(151,187,205,0.2)",
						            strokeColor: "rgba(151,187,205,1)",
						            pointColor: "rgba(151,187,205,1)",
						            pointStrokeColor: "#fff",
						            pointHighlightFill: "#fff",
						            pointHighlightStroke: "rgba(151,187,205,1)",
									data: [{% for lum in lums %}'{{ lum.luminosity }}',{% endfor %}]
								}
							]
    					}
    					var lumChart = new Chart(lumCtx).Line(lumData, {
    						scaleBeginAtZero: true,
    						responsive: true
    					});
	    			</script>
	    		</div>
	    	</div>
	  	</div>
		<div class="row">
		    <div class="panel panel-default">
		    	<div class="panel-heading">Humidity</div>
		    	<div class="panel-body">
		    		<div>
    					<canvas id="humChart"></canvas>
    				</div>
	    			<script type="text/javascript">
    					var humCtx = $('#humChart').get(0).getContext('2d');
    					var humData = {

							labels: [{% for hum in hums %}'',{% endfor %}],
							datasets: [
								{    
						            fillColor: "rgba(151,187,205,0.2)",
						            strokeColor: "rgba(151,187,205,1)",
						            pointColor: "rgba(151,187,205,1)",
						            pointStrokeColor: "#fff",
						            pointHighlightFill: "#fff",
						            pointHighlightStroke: "rgba(151,187,205,1)",
									data: [{% for hum in hums %}'{{ hum.humidity }}',{% endfor %}]
								}
							]
    					}
    					var humChart = new Chart(humCtx).Line(humData, {
    						scaleBeginAtZero: true,
    						responsive: true
    					});
	    			</script>
		    	</div>
		    </div>
		</div>
		<div class="row">
		    <div class="panel panel-default">
		    	<div class="panel-heading">Temperature</div>
		    	<div class="panel-body">
		    		<div>
	    				<canvas id="tempChart"></canvas>
	    			</div>
	    			<script type="text/javascript">
    					var tempCtx = $('#tempChart').get(0).getContext('2d');
    					var tempData = {

							labels: [{% for temp in temps %}'',{% endfor %}],
							datasets: [
								{
						            fillColor: "rgba(151,187,205,0.2)",
						            strokeColor: "rgba(151,187,205,1)",
						            pointColor: "rgba(151,187,205,1)",
						            pointStrokeColor: "#fff",
						            pointHighlightFill: "#fff",
						            pointHighlightStroke: "rgba(151,187,205,1)",
									data: [{% for temp in temps %}'{{ temp.temperature }}',{% endfor %}]
								}
							]
    					}
    					var tempChart = new Chart(tempCtx).Line(tempData, {
    						scaleBeginAtZero: true,
    						responsive: true,
    						scaleoverride: true,
    						maintainAspectRation: false
    					});
	    			</script>
		    	</div>
		    </div>
		</div>
  	</div>
</div>
<div class="row">
	<a class="btn btn-default" href="/plant">Back</a>	
</div>

{% endblock %}
