{% extends "layout.twig" %}

{% block content %}
<div class="page-header">
  <h3>{{ sensor.node_identifier }}&nbsp;<small>Sensor summary</small></h3>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel">
    	<ul>
    		<li>ID : {{ sensor.node_identifier }}</li>
    		<li>Serial number : {{ sensor.serial_number }}</li>
    		<li>Plant 1 : {{ sensor.s0_link }}</li>
    		<li>Plant 2 : {{ sensor.s1_link }}</li>
    		<li>Plant 3 : {{ sensor.s2_link }}</li>
    		<li>Plant 4 : {{ sensor.s3_link }}</li>
		</ul>
	</div>
  </div>
</div>
{% endblock %}
