extends ../layout

block page-title
  h3 Sensors list

block content
  .row
    .col-md-12
      include block_create
      
  .row 
    .col-md-12
      table.table.table-striped.table-bordered
        tr
          th Identifier
          th Serial number
          th Probes
          th Actions
          
        if sensors.length > 0
          each sensor in sensors
            tr
              td #{sensor.name}
              td #{sensor.serialNumber}
              td 
                ul
                  each probe in sensor.settings.probes
                    li #{probe.type}
                    if probe.global
                      ul
                        each plant in sensor.plants
                          li #{plant.name}
                    else
                      if sensor.plants[probe.plantIndex]
                        ul 
                          li #{sensor.plants[probe.plantIndex].name}
                
              td
                a(href='/sensor/remove/#{sensor.id}') Remove
        else
          tr
            td.text-center(colspan='4') No sensor configured yet
